
.body{
  max-width: 1200px;
  margin: 0 auto; 
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; /* evita scroll horizontal */
  width: 100%;
  background-color: #171818;
  padding-top: 80px; /* debe ser igual o mayor a la altura de tu header */
  }
 #principal {
  max-width: 80%;
  margin: 0 auto; 
 }
header {
  position: fixed;  /* se queda fijo en la pantalla */
  top: 0;           /* pegado arriba */
  left: 0;
  width: 100%;      /* ocupa todo el ancho */
  z-index: 1000;    /* se mantiene por encima de todo */
  background-color: #ffffff00;
  padding: 16px 40px;
}
* {
  box-sizing: border-box; /* aplica a todos los elementos */
}
.option{
  display: flex;
  list-style: none; /* quita los puntos */
  padding: 0;
  justify-content: center; /* centra horizontal */
}
.card {
  display: flex;
  justify-content: center; /* centra contenido */
  gap: 40px; /* 👈 separa los li */
  list-style: none; 
  width: 900px;
  margin: 0 auto; /* centra el ul */
  padding: 4px;
  background: #17181865;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  font-family: cursive;
  margin-top: 10px;
  color: #4e4c51;

}

.card:hover {
  background: #4e4c5111;
  transform: scale(1.05);
}
.card_contac:hover{
  background: #b5f1a9;
  transform: scale(1.05);
}
.card_contac{
  padding: 0;
  display: flex;
  justify-content: center; /* centra horizontal */
  margin-right: 15px; 
  width: 200px;
  padding: 20px;
  background: #bbd9ef;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
  font-family: cursive;

}
li a {
  display: block;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

li a:hover {
  background: #4e4c5111;
}
html {
  scroll-behavior: smooth;
}
.title{
    width: auto;
    text-align: center;
    color: #ffffff;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    height: 30vh;
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
    width: 853px;
}
.text{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  color : #ffffff
}
.subtitle{
    width: auto;
    text-align: left;
    color: #ffffff;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}
.videos-container {
  display: grid;
  grid-template-columns:1fr;
  gap: 24px;
  margin-top: 30px;
}
.video-card img {
  width: 50%;        /* cambia este % a tu gusto */
  max-width: 400px;  /* tamaño máximo */
  border-radius: 8px;
  display: block;
  margin: 0 auto;    /* centra el gif */
}